body{
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
img{
    width: 100%;
    height: 25vh;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .div-container{
      display: flex;
      flex-wrap: wrap;
  }
  .main-display{
    width: 100%;
    height: 400px;
    margin-bottom:15px;
    background-color: aqua;

}
  .card{
      width: 400px;
      height: 500px;
      background-color: aqua;
      margin-right: 15px;
      margin-bottom:15px;
      
     
      
  }
  .capital{
    text-transform: capitalize;
    position: relative;
    bottom: 10px;
    left: 80px;
    font-family:cursive;
      

  }
  .text-style{
      margin-left: 20%;
  }
  .current-img{
    position: relative;
    top: 80px;
    left: 30px;
    width: 60px;
    height: 60px;
    
  }
  .beach-name{
      position: relative;
      top: 50px;
      font-size: 24px;
      
  }