body{
    margin: 0; 
    padding: 0;
    background-color: rgb(9, 177, 228);
    color: white;
}
.container {
    position: relative;
    text-align: center;
  }
img{
    width: 100%;
    height: 25vh;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .div-container{
      display: flex;
      flex-wrap: wrap;
  }
  .main-display{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 400px;
    margin-bottom:15px;
    background-color: lightseagreen;
    padding:15px;

}

#homeBtn{
margin-left: 3vw;

}

  .card{
      width: 400px;
      height: 600px;
      background-color: lightseagreen;
      margin-right: 15px;
      margin-bottom:15px;  
      border-radius: 10px;
  }
  .capital{
    text-transform: capitalize;
    position: relative;
    bottom: 10px;
    left: 80px;
    font-family:cursive;
      

  }

  .text-style{
      margin-left: 5%;
      font-size: 20px;
  }
  .current-img{
    position: relative;
    top: 80px;
    left: 30px;
    width: 60px;
    height: 60px;
    
  }
  .beach-name{
      position: relative;
      top: 50px;
      font-size: 24px;
      /* text-align: center; */
      
  }

  .surfer{
    width: 100px;
    height: 180px;
    margin-top: 115px;
    opacity: 75%;
    position: absolute;
    bottom: 0px;
    /* left: -50px; */
    right: 750px;
}

  #date{
    margin-left: 36%;
  }

  #waveHeightDisplay {
    border: 1px solid black;
    width: 800px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -400px;
    background-color: lightblue;
    
  }
 
  .timeblock {
    width: 100px;
    height: 100px;
    border: 1px solid blue;
    position: absolute;
    bottom: 0;
  }

  select{
    padding: 8px;
    border-radius: 5px;
    
  }
  .dropdown-div{
    width: 300px;
    height: 95%;
    background-color: cornflowerblue;
    padding: 12px;
  }
  
  /* #midnightHigh, #midnightLow {
    
  } */

#a3amHigh, #a3amLow, #a3am {
  left: 100px;
}

#a6amHigh, #a6amLow, #a6am {
  left: 200px;
}
#a9amHigh, #a9amLow, #a9am {
  left: 300px;
}
#a12pmLow, #a12pmHigh, #a12pm {
  left: 400px;
}
#a3pmHigh, #a3pmLow, #a3pm {
  left: 500px;
}
#a6pmHigh, #a6pmLow, #a6pm {
  left: 600px;
}
#a9pmHigh, #a9pmLow, #a9pm {
  left: 700px;
}
#a12am {
  left: 798px;
}

#dropdown1 {
  position: relative;
}

.surfModal {
  margin-bottom: 10px;
}


nav{
  background-color: rgb(9, 177, 228);
}

#times .timeblock2 {
  border-left: 3px solid black;
  position: absolute;
  bottom: -15px;
  width: 100px;
  height: 15px;
}
#times .timeblock2 p {
  position:absolute;
  bottom: -5px;
  margin-left: -15px;
  margin-bottom: -25px;
}

#highHeights .timeblock {
  background-color: rgb(157, 155, 242);
}

#lowHeights .timeblock {
  background-color: rgb(115, 188, 213);
}

#heightsList .height {
  /* position: absolute */
  border-top: 3px solid black;
  height: 60px;
  width: 15px;
  margin-left: -15px;
}

#heightsList .height p {
  position: relative;
  left: -20px;
  top: -30px;
  margin-left: -20px;
  overflow: visible;
  text-align: right;
}
/* tide info styling start here */
tr{
  line-height: 0px;
}

td,th,table{
  padding-left: 12px;
}
.slider-btn{
  position: relative;
  top: 50%;
  font-size: 24px;
  background-color: aqua;
  border: none;
  cursor: pointer;
}
.prev-btn{
  float: left;
  
}
.next-btn{
  float: right;
}
.tide-forecast{
  position: relative;
  width: 335px;
  height: 400px;
  /* background-color: rgb(14, 145, 123); */
  margin-left: 35px;
  margin-bottom:15px;
  overflow: auto;
  display: none;
}
.weather-forecast{
  width: 300px;
  margin-left: 45px;
  /* background-color: cornflowerblue; */
}
.beach{
  position: relative;
  margin-top: 65px;
  font-size: 24px;
  
}

@media screen and (max-width: 950px) {
  #waveHeightDisplay {
    border: 1px solid black;
    width: 300px;
    height: 112.5px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    background-color: lightblue;
    
  }
  #times .timeblock2,   .timeblock {
    width: 37.5px;
  }
  #a3amHigh, #a3amLow, #a3am {
    left: 37.5px
  }
  
  #a6amHigh, #a6amLow, #a6am {
    left: 75px;
  }
  #a9amHigh, #a9amLow, #a9am {
    left: 112.5px;
  }
  #a12pmLow, #a12pmHigh, #a12pm {
    left: 150px;
  }
  #a3pmHigh, #a3pmLow, #a3pm {
    left: 187.5px;
  }
  #a6pmHigh, #a6pmLow, #a6pm {
    left: 225px;
  }
  #a9pmHigh, #a9pmLow, #a9pm {
    left: 262.5px;
    /* left: 262.5px; */
  }
  #a12am {
    left: 299px;
  }
  .surfer {
    width: 37.5px;
    height: 67.5px;
    right: 280px;
  }
  #heightsList .height {
    height: 22.5px;
  }
}

#localInfo {
  overflow-y: auto;
}

#modalBtn{
  background-color: rgb(9, 177, 228);
}

#modal1 {
  background-color: blueviolet;
}

#raja {
  color: white;
}